---
import Layout from '../layouts/Layout.astro';
import Logo from '../assets/logo.svg'
import TextoPush from '../assets/textoPush.svg'
import Barra from '../components/SearchBar.astro'
import GenerarChampions from '../components/generarChampions.astro';
import BotonesPosiciones from '../components/botonesPosiciones.astro';
import TopChampionsCards from '../components/TopChampionsCards.astro';
import Randomizer from '../components/Randomizer.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="PUSH | Home">
	<main>
		<div class="contenedor-principal">
			<div class="logo">
				<img  id="LogoPush" src={ Logo.src }  alt="logo">
				<img id="TextoPush" src={ TextoPush.src } alt="Push">
			</div>
			<div class="search-container">
				<Barra />
			</div>
			<div class="contenedor-de-contenedores-champion">
				<div class="layout-contenedor-champions">
					<div class="contenedor-vista-champions">
						<div class="contenedor-lista-champions">
							<h2>LISTA DE CAMPEONES 2025</h2>
							<BotonesPosiciones />
						</div>
						<GenerarChampions />
					</div>
					<div class="boton-parches">
						<a class="btn-parche" href="parches"><h1>PARCHE 25.S1.3</h1></a>
					</div>
				</div>
				<div class="contenedor-vista-tierlist">
					<div class="contenedor-tierlsit">
						<div class="link-tierlist">
							<a href="tierlist">15.3 Tierlist & Más</a>
						</div>
						<div class="contenedor-lista-tierlist">
							<div class="contenedor-titulos-tierlist">
								<ul>
									<li>
										<p>Campeon</p>
										<p>Tier</p>
										<p>WinRate</p>
									</li>
								</ul>
							</div>
							<div class="lista-tierlist">
								¡EN PROCESO!
							</div>
						</div>
					</div>
				</div>
			</div>
			<Randomizer />
			<TopChampionsCards/>
		</div>
	</main>
</Layout>
<script src="../js/buscador.js"></script>

<style>
	@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

	main {
		width: 100%;
		min-height: 100vh;
		display: flex;
		justify-content: center;
		align-items: flex-start;
		padding: 2rem 0;
		overflow-y: auto;
	}

	.contenedor-principal {
		width: 1000px;
		padding: 2rem;
		border-radius: 1rem;
		display: flex;
		flex-direction: column;
	}

	.contenedor-de-contenedores-champion {
		width: 100%;
		height: 500px;
		padding-top: 40px;
		display: flex;
		gap: 30px;
	}

	.layout-contenedor-champions {
		width: 60%;
		height: 100%;
		display: flex;
		flex-direction: column;
		gap: 5%;
	}

	.contenedor-vista-champions {
		width: 100%;
		height: 75%;
		background-color: #1C2025;
		border-radius: 8px;
		padding: 5px;
		padding-top: 10px;
		background: rgba(255, 255, 255, 0.034);
		backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(25px);
	}

	.contenedor-lista-champions {
		width: 100%;
		height: 30px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		h2 {
			font-size: 17px;
			padding-left: 5px;
			color: #BEBFBF;
		}
	}

	.boton-parches {
		width: 100%;
		height: 20%;
		border-radius: 8px;
		background-color: #1C2025;
		padding: 10px;
		background: rgba(255, 255, 255, 0.034);
		backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(25px);
	}

	.btn-parche {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		text-decoration: none;
		font-family: "Roboto mono", monospace;
		background-color: #424B56;
		border-radius: 8px;
		color: #BEBFBF;
		font-size: 15px;
		transition: all 0.3s ease;
	}

	.btn-parche:hover {
		background-color: #f54245;
    	transform: translateY(-2px);
    	border-color: #f54245;
	}
	
	/* TIER LIST */
	.contenedor-vista-tierlist {
		width: 40%;
		height: 100%;
		border-radius: 8px;
		background-color: #1C2025;
		padding: 10px;
		background: rgba(255, 255, 255, 0.034);
		backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(25px);
	}

	.contenedor-tierlsit {
		width: 100%;
		height: 100%;
		background-color: #424B56;
		border-radius: 8px;
	}

	.link-tierlist {
		width: 100%;
		height: 30px;

		a{
			width: 100%;
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 8px 8px 0px 0px;
			text-decoration: none;
			font-family: "Roboto mono", monospace;
			font-size: 15px;
			color: #BEBFBF;
		}

		a:hover{
			background-color: #545a6175;
		}
	}

	.contenedor-lista-tierlist {
		width: 100%;
		height: 100%;
		padding: 10px;
	}

	.contenedor-titulos-tierlist {
		width: 100%;
		height: 20px;
		padding-left: 10px;
		padding-right: 10px;

		li{
			list-style: none;
			display: flex;
			justify-content: space-between;

			p{
				font-size: 13px;
				color: #BEBFBF;
			}
		}

	}
	/* Luego sacar estos estilos */
	.lista-tierlist {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		color: #f54245;
	}

	/* BARRA DE BUSQUEDA */
	.search-container {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
	}

	/* LOGO Y TEXTO */
	.logo {
		width: 100%;
		height: 150px;
		display: flex;
		justify-content: center;
		gap: 20px;
	}

	#LogoPush {
		width: 4rem;
	}

	#TextoPush {
		width: 17rem;
	}
</style>