---
import Layout from '../layouts/Layout.astro';
import Logo from '../assets/logo.svg'
import TextoPush from '../assets/textoPush.svg'
import Barra from '../components/SearchBar.astro'
import GenerarChampions from '../components/generarChampions.astro';
import BotonesPosiciones from '../components/botonesPosiciones.astro';
import Randomizer from '../components/Randomizer.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="PUSH | Home">
	<main>
		<div class="contenedor-principal">
			<div class="logo">
				<img  id="LogoPush" src={ Logo.src }  alt="logo">
				<img id="TextoPush" src={ TextoPush.src } alt="Push">
			</div>
			<div class="search-container">
				<Barra />
			</div>
			<div class="contenedor-de-contenedores-champion">
				<div class="layout-contenedor-champions">
					<div class="contenedor-vista-champions">
						<div class="contenedor-lista-champions">
							<h2>LISTA DE CAMPEONES 2025</h2>
							<BotonesPosiciones />
						</div>
						<GenerarChampions />
					</div>
					<div class="boton-parches">
						<a class="btn-parche" href="parches"><h1>PARCHE 25.S1.2</h1></a>
					</div>
				</div>
				<div class="contenedor-vista-tierlist">

				</div>
			</div>
			<!--
			<div class="contenedor-button">
				<a href="tierlist" class="tierlist-button">TIERLIST 15.2</a>
				<div class="mouse-icon">
					<svg width="40px" height="100%" viewBox="0 0 247 390" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:1.5;">
						<path id="wheel" d="M123.359,79.775l0,72.843" style="fill:none;stroke:#fff;stroke-width:20px;"/>
						<path id="mouse" d="M236.717,123.359c0,-62.565 -50.794,-113.359 -113.358,-113.359c-62.565,0 -113.359,50.794 -113.359,113.359l0,143.237c0,62.565 50.794,113.359 113.359,113.359c62.564,0 113.358,-50.794 113.358,-113.359l0,-143.237Z" style="fill:none;stroke:#fff;stroke-width:20px;"/>
					</svg>
				</div>
				<a href="parches" class="tierlist-button">PARCHES 25-s1-2</a>
			</div>
			-->
		</div>
	</main>
</Layout>

<script src="../js/buscador.js"></script>

<style>
	@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

	main {
		width: 100%;
		min-height: 100vh;
		display: flex;
		justify-content: center;
		align-items: flex-start;
		padding: 2rem 0;
		overflow-y: auto;
	}

	.contenedor-principal {
		width: 1000px;
		padding: 2rem;
		border-radius: 1rem;
		display: flex;
		flex-direction: column;
	}

	.contenedor-de-contenedores-champion {
		width: 100%;
		height: 500px;
		padding-top: 40px;
		display: flex;
		gap: 30px;
	}

	.layout-contenedor-champions {
		width: 60%;
		height: 100%;
		display: flex;
		flex-direction: column;
		gap: 5%;
	}

	.contenedor-vista-champions {
		width: 100%;
		height: 75%;
		background-color: #1C2025;
		border-radius: 8px;
		padding: 5px;
		padding-top: 10px;
		background: rgba(255, 255, 255, 0.034);
		backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(25px);
	}

	.contenedor-lista-champions {
		width: 100%;
		height: 30px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		h2 {
			font-size: 17px;
			padding-left: 5px;
			color: #BEBFBF;
		}
	}

	.boton-parches {
		width: 100%;
		height: 20%;
		border-radius: 8px;
		background-color: #1C2025;
		padding: 10px;
		background: rgba(255, 255, 255, 0.034);
		backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(25px);
	}

	.btn-parche {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		text-decoration: none;
		font-family: "Roboto mono", monospace;
		background-color: #424B56;
		border-radius: 8px;
		color: #BEBFBF;
		font-size: 15px;
		transition: all 0.3s ease;
	}

	.btn-parche:hover {
		background-color: #f54245;
    	transform: translateY(-2px);
    	border-color: #f54245;
	}
	
	.contenedor-vista-tierlist {
		width: 40%;
		height: 100%;
		background-color: aqua;
		border-radius: 8px;
	}

	.logo {
		width: 100%;
		height: 150px;
		display: flex;
		justify-content: center;
		gap: 20px;
	}

	.search-container {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
	}

	#LogoPush {
		width: 4rem;
	}

	#TextoPush {
		width: 17rem;
	}
</style>