---
import Layout from '../layouts/Layout.astro';
import GenerarChampions from '../components/generarChampions.astro';
import BotonesPosiciones from '../components/botonesPosiciones.astro';
import TopChampionsCards from '../components/TopChampionsCards.astro';
import Randomizer from '../components/Randomizer.astro';
import TierListHome from '../components/TierListHome.astro';
---

<Layout title="PUSH | Home" showChampsButtons={ true }>
	<div class="contenedor-vertical-1">
		<div class="cuadro-champions-cargados">
			<GenerarChampions />
		</div>
	</div>
	<div class="contenedor-vertical-2">

	</div>
</Layout>

<style>
	.contenedor-vertical-1 {
		width: 60%;
		height: 100%;
	}

	.contenedor-vertical-2 {
		width: 40%;
		height: 100%;
	}

	.cuadro-champions-cargados {
		width: 100%;
		background-color: #1D1D1D;
		height: 70%;
		border-radius: 10px;
	}
</style>