---
import Layout from '../layouts/Layout.astro';
import GenerarChampions from '../components/generarChampions.astro';
import BotonesPosiciones from '../components/botonesPosiciones.astro';
import Randomizer from '../components/Randomizer.astro';
---

<Layout title="PUSH | Home" showChampsButtons={ true }>
	<div class="contenedor-vertical-1">
		<div class="cuadro-champions-cargados">
			<GenerarChampions />
		</div>
		<div class="texto-champs-random-button">
			<h1>CAMPIONS RANDOMS</h1>
			<button id="btn-random">RANDOM</button>
		</div>
	</div>
	<div class="contenedor-vertical-2">

	</div>
</Layout>

<style>
	@import url('https://fonts.cdnfonts.com/css/akira-expanded');
	
	.contenedor-vertical-1 {
		width: 60%;
		height: 100%;
	}

	.contenedor-vertical-2 {
		width: 40%;
		height: 100%;
	}

	.cuadro-champions-cargados {
		width: 100%;
		background-color: #1D1D1D;
		height: 70%;
		border-radius: 10px;
	}

	.texto-champs-random-button {
		width: 100%;
		height: 5%;
		margin-top: 20px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.texto-champs-random-button h1 {
		color: #D6D6D6;
		font-family: 'Akira Expanded', sans-serif;
	}

	#btn-random {
		width: 150px;
		height: 100%;
		border-radius: 10px;
		border: none;
		background-color: #D6D6D6;
		color: #0A0A0A;
		font-family: 'Akira Expanded', sans-serif;
	}

	#btn-random:hover {
		transform: translateY(-1px);
		background-color: #E6FF2A;
	}
</style>