---
import personajesData from '../data/champions.json'
---

<div class="contenedor">
    <div class="contenido-pjs">
        {
            personajesData.map(champion => (
                <div 
                    class="card-chmpion"
                    data-positions={JSON.stringify(champion.positions)}
                >
                    <img 
                        id={champion.name.toLowerCase()} 
                        src={champion.image_url} 
                        alt={champion.name}
                    />
                </div>
            ))
        }
    </div>
    <button class="tierlist-button">TIERLIST 15.2</button>
</div>

<style>
    .contenedor {
        display: flex;
        flex-direction: column;
        gap: 40px; /* Increased gap to move the button further down */
    }

    .contenido-pjs {
        width: 100%;
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        gap: 12px;
        max-height: 55vh;
        overflow-y: auto;
        padding-right: 10px;
    }

    .contenido-pjs::-webkit-scrollbar {
        width: 8px;
    }

    .contenido-pjs::-webkit-scrollbar-track {
        background: transparent;
        border-radius: 4px;
    }

    .contenido-pjs::-webkit-scrollbar-thumb {
        background: #f54245;
        border-radius: 4px;
    }

    .card-chmpion {
        background-color: rgba(26, 29, 33, 0.3);
        backdrop-filter: blur(5px);
        width: 70px;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        transition: all 0.3s ease;
        border: 1px solid rgba(255, 255, 255, 0.1);
        cursor: pointer;
    }

    .card-chmpion img {
        width: 65px;
        border-radius: 10px;
    }

    .card-chmpion:hover {
        background-color: #f54245;
        transform: translateY(-2px);
        border-color: #f54245;
    }
</style>