---
import personajesData from '../data/champions.json'
---

<div class="contenedor">
    <div class="contenido-pjs">
        {
            personajesData.map(champion => (
                <div 
                    class="card-chmpion"
                    data-positions={JSON.stringify(champion.positions)}
                >
                    <img 
                        id={champion.name.toLowerCase()} 
                        src={champion.image_url} 
                        alt={champion.name}
                    />
                </div>
            ))
        }
    </div>
</div>

<style>
    .contenedor {
        display: flex;
        flex-direction: column;
        background-color: ;
        padding: 5px;
    }

    .contenido-pjs {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        gap: 15px;
        max-height: 290px;
        overflow-y: auto;
        padding-top: 5px;
    }

    .contenido-pjs::-webkit-scrollbar {
        display: none;
        width: 0px;
    }

    .card-chmpion {
        background-color: #424B56;
        backdrop-filter: blur(5px);
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        transition: all 0.3s ease;
        border: 1px solid #707479;
        cursor: pointer;
    }

    .card-chmpion img {
        width: 55px;
        border-radius: 10px;
    }

    .card-chmpion:hover {
        background-color: #f54245;
        transform: translateY(-2px);
        border-color: #f54245;
    }
</style>