---
// Importamos los iconos que necesitemos (puedes cambiarlos por los que prefieras)
---

<div class="search-container">
    <input id="buscador" type="text" placeholder="Buscar campeon">
    <div class="filter-buttons">
        <button class="filter-btn" title="Todos" data-position="all">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <g fill="none" fill-rule="evenodd">
                    <g fill="currentcolor" fill-rule="nonzero">
                        <g>
                            <path d="M16.293 17.03c.362.628.147 1.43-.48 1.793-.629.364-1.431.149-1.794-.479l-2.144-3.717-2.144 3.717c-.363.628-1.165.843-1.793.48-.628-.363-.843-1.166-.48-1.793l2.144-3.718h-4.29c-.724 0-1.312-.587-1.312-1.312 0-.727.588-1.314 1.313-1.314h4.289L7.457 6.969c-.362-.627-.147-1.43.48-1.792.629-.364 1.431-.149 1.794.479l2.144 3.717 2.144-3.717c.363-.628 1.165-.843 1.793-.48.628.363.843 1.166.48 1.793l-2.144 3.718h4.29c.725 0 1.312.587 1.312 1.312 0 .727-.587 1.314-1.312 1.314h-4.29l2.145 3.718z" transform="translate(-2388.000000, -699.000000) translate(2388.000000, 699.000000)"/>
                        </g>
                    </g>
                </g>
            </svg>
        </button>
        <button class="filter-btn" title="Top" data-position="top">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="text-white" viewBox="0 0 24 24"><g fill="currentColor" fill-rule="nonzero"><path d="m19 3-4 4H7v8l-4 4V3z"></path><path d="m5 21 4-4h8V9l4-4v16z" opacity="0.2"></path><path d="M10 10h4v4h-4z" opacity="0.2"></path></g></svg>
        </button>
        <button class="filter-btn" title="Jungla" data-position="jungle">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="text-white" viewBox="0 0 24 24"><path fill="currentColor" fill-rule="nonzero" d="M5.14 2c1.58 1.21 5.58 5.023 6.976 9.953s0 10.047 0 10.047c-2.749-3.164-5.893-5.2-6.18-5.382l-.02-.013C5.45 13.814 3 8.79 3 8.79c3.536.867 4.93 4.279 4.93 4.279C7.558 8.698 5.14 2 5.14 2m14.976 5.907s-1.243 2.471-1.814 4.604c-.235.878-.285 2.2-.29 3.058v.282c.003.347.01.568.01.568s-1.738 2.397-3.38 3.678a27.5 27.5 0 0 0-.208-5.334c.928-2.023 2.846-5.454 5.682-6.856m-2.124-5.331s-2.325 3.052-2.836 6.029c-.11.636-.201 1.194-.284 1.695-.379.584-.73 1.166-1.05 1.733-.033-.125-.06-.25-.095-.375a21 21 0 0 0-1.16-3.08c.053-.146.103-.29.17-.438 0 0 1.814-3.78 5.255-5.564"></path></svg>
        </button>
        <button class="filter-btn" title="Mid" data-position="mid">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="text-white" viewBox="0 0 24 24"><g fill="currentColor" fill-rule="nonzero"><path d="m15 3-4 4H7v4l-4 4V3zM9 21l4-4h4v-4l4-4v12z" opacity="0.2"></path><path d="M18 3h3v3L6 21H3v-3z"></path></g></svg>
        </button>
        <button class="filter-btn" title="ADC" data-position="adc">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="text-white" viewBox="0 0 24 24"><g fill="currentColor" fill-rule="nonzero"><path d="m19 3-4 4H7v8l-4 4V3z" opacity="0.2"></path><path d="m5 21 4-4h8V9l4-4v16z"></path><path d="M10 10h4v4h-4z" opacity="0.2"></path></g></svg>
        </button>
        <button class="filter-btn" title="Support" data-position="support">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="text-white" viewBox="0 0 24 24"><path fill="currentColor" fill-rule="nonzero" d="M12.833 10.833 14.5 17.53v.804L12.833 20h-1.666L9.5 18.333v-.804l1.667-6.696zM7 7.5 9.5 10l-1.667 4.167-2.5-2.5L6.167 10h-2.5L2 7.5zm15 0L20.333 10h-2.5l.834 1.667-2.5 2.5L14.5 10 17 7.5zM13.743 5l.757.833v.834l-1.667 2.5h-1.666L9.5 6.667v-.834L10.257 5z"></path></svg>
        </button>
    </div>
</div>

<style>
    .search-container {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    #buscador {
        border-radius: 8px;
        width: 435px;
        height: 40px;
        background-color: #1A1D21;
        border: none;
        padding-left: 15px;
        color: white;
        font-family: 'Roboto Mono', monospace;
    }

    #buscador:active {
        border: none;
    }

    .filter-buttons {
        display: flex;
        gap: 8px;
    }

    .filter-btn {
        width: 40px;
        height: 40px;
        border-radius: 8px;
        background-color: #1A1D21;
        border: none;
        color: #666;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: all 0.2s ease;
    }

    .filter-btn:hover {
        background-color: #2e3238;
        color: white;
    }

    .filter-btn.active {
        background-color: #f54245;
        color: white;
    }
</style>