---
---
<div class="input-border">
    <input id="buscador" type="text" placeholder="Buscar campeon">
</div>

<style>
    .input-border {
        width: 600px;
        height: 60px;
        padding: 8px;
        background: rgba(255, 255, 255, 0.034);
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(25px);
    }

    #buscador {
        border-radius: 8px;
        width: 100%;
        height: 100%;
        background-color: #424B56;
        border: none;
        color: white;
        font-family: "Roboto", monospace;
        padding: 5px;
        font-family: "Roboto Mono", monospace;
    }

    #buscador::placeholder {
        color: #BEBFBF;
        font-family: "Roboto Mono", monospace;
        font-weight: 300;
    }

    #buscador:focus {
        outline: none;
    }
</style>