---
import champions from '../data/champions.json'
const championsData = JSON.stringify(champions)
---
<div id="champions-data" data-json={championsData}></div>
<script>
    function TierlistHomeGenerator() {
    const listaTierlsit = document.querySelector(".lista-tierlist");
    const championsElement = document.getElementById("champions-data");

        if (!listaTierlsit || !championsElement) {
            console.error("Elemento no encontrado");
            return;
        }

        const champions = JSON.parse(championsElement.dataset.json || "[]");

        const tierChamp = 'S+';
        const championTier = champions.filter(champ => champ.tier === tierChamp);
        // Declaro una variable para que solo se generen 5 champs
        const fiveChampions = championTier.slice(0, 5)
        let htmlContent = "";
        fiveChampions.forEach(champ => {
            htmlContent += `
                <div class="champion-card-tier" 
                    style="width: 100%; 
                    height: 70px; 
                    display: flex; 
                    justify-content: space-between; 
                    border-radius: 8px;
                    align-items: center;
                    padding: 5px;
                    ">
                    <img src="${champ.image_url}" alt="${champ.name}" style="width: 60px; height: 60px; border-radius: 8px;">
                    <div class="champion-card-texto-tier" style="text-align: center;"><h1 style="width: 50px; font-size: 30px; color: #FFDD75;">${champ.tier}</h1></div>
                    <div class="champion-card-texto-winrate"><h1 style="width: 50px; font-size: 15px;">53.4%</h1></div>
                </div>
            `;
        });

        // Asignar el contenido una sola vez
        listaTierlsit.innerHTML = htmlContent;
    }
    document.addEventListener("DOMContentLoaded", TierlistHomeGenerator);
</script>